/* Genel Ayarlar */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background-color: white;
    width: 700px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; 
}

/* --- GÖREV: FLEX YAPISI --- */
.input-group {
    display: flex; 
    gap: 10px;     
    margin-bottom: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#productName {
    flex: 2; 
}

#productPrice {
    flex: 1;
}

/* --- GÖREV: BUTON HOVER --- */
button {
    padding: 10px 10px;
    background-color: #04f510;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #218838; 
}
/* SİLME BUTONU ÖZEL AYARLARI */
.delete-btn {
    background-color: white !important; /* Arka plan beyaz olsun */
    color: #ff4444 !important;         /* Yazı rengi kırmızı olsun */
    border: 1px solid #ff4444 !important; /* Çerçevesi kırmızı olsun */
    padding: 5px 10px !important;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Üzerine Mouse Gelince (Hover) */
.delete-btn:hover {
    background-color: #ff4444 !important; /* Arka plan kırmızıya dönsün */
    color: white !important;              /* Yazı beyaza dönsün */
    transform: scale(1.1);                /* Hafifçe büyüsün */
}
/* Liste Elemanları */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px; 
}

/* Toplam Alanı */
.total-section {
    text-align: right;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-top: 2px solid #eee;
    padding-top: 10px;
}