body {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: auto;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}button {
  margin-left: 10px;
  cursor: pointer;
}
